@charset "utf-8";
/* メニュー */
.menu {
  text-align: center;
}

.menu-list {
  display: inline-block;
  margin-left: 30px;
  list-style: disc;
  text-align: left;
}

.menu-list li {
  margin-bottom: 10px;
}